@import '../lib'


.addon-dashboard .page--main
.addon-dashboard h1
  max-width $layout--page-medium


.addon-dashboard
  .page--main
    background $color--white
    border-radius 5px
    padding $layout--island-padding


.addon-dashboard-header
  border-bottom 1px solid $color--border
  display flex
  align-items flex-end
  flex-direction column
  margin-bottom 25px
  padding-bottom 30px

  +media--desktop()
    flex-direction row
    justify-content space-between
    padding 0


.addon-dashboard--empty
  .page--main
    max-width 500px
    text-align center

  .page--header h1
    max-width 500px

  p
    font-size 18px
    font-weight 300
    margin-top 0

  a
    display inline-block
    margin 0 10px


.addon-dashboard--notice
  font-size 13px
  margin 0 0 10px
  padding 0 0 ($layout--list-padding / 2)
  text-align right


.addon-listing--dashboard
  margin 0
