@import '../lib'


.addon-review .page--main
.addon-review h1
  max-width $layout--page-medium


.addon-review-header
  border-bottom 1px solid $color--border
  display flex
  justify-content space-between
  margin-bottom 25px


.addon-review--empty
  .page--main
    max-width 500px
    text-align center

  .page--header h1
    max-width 500px

  p
    font-size 18px
    font-weight 300
    margin-top 0

  a
    display inline-block
    margin 0 10px


.addon-listing-for-review
  margin 0


.addon-review-queue-nav
  margin-bottom 25px
  border-bottom 1px solid $color--border-dark
  padding-bottom 2px
  width 100%

  a
    margin-right 15px

    &.active
      color $color--highlight
      font-weight 400
      pointer-events none


.addon-review-header
  border-bottom 1px solid $color--border
  display flex
  align-items flex-end
  flex-direction column
  justify-content center
  margin-bottom 25px
  padding-bottom 30px

  +media--desktop()
    align-items center
    flex-direction row
    justify-content flex-end
