@import '../lib'


.addon-dashboard-detail .page--main
.addon-dashboard-detail h1
.addon-dashboard-detail .page--breadcrumb
  max-width $layout--page-medium


.addon-dashboard-detail h1
  margin-bottom $layout--island-padding

.addon-dashboard-detail--versions .page-section--main
  padding 0

  .version
    padding 0 $layout--island-padding

  > ul > li
    &:first-child .version
      padding-top ($layout--island-padding / 3)

    &:last-child .version
      padding-bottom ($layout--island-padding / 3)


.addon-dashboard-detail--actions
  p
    font-weight 300
    font-size 15px
    margin 0

  ul
    margin 0

  li
    align-items center
    display flex
    margin-top 15px

    p
      font-size 13px
      font-weight 400

    button
      margin-right 15px


.addon-dashboard-detail--versions
  ul
    margin 0

  li
    border-bottom 1px solid $color--border

    &:last-child
      border 0


.addon-dashboard-detail--status
  .addon-dashboard-detail--addon-status
    color $color--grey-dark
    font-size 14px
    font-weight 300

    p
      margin 0

    p:first-child
      color $color--black
      font-size 16px
      font-weight 400

  ul
    border-top 1px solid $color--border
    font-size 14px
    margin 15px 0 0
    padding 15px 0 0

  li
    margin-top 5px

    &:first-child
      margin 0

  .addon--status-obsolete
    color $color--status-netural

  .addon--status-incomplete
  .addon--status-rejected
    color $color--status-problem

  .addon--status-pending
    color $color--status-waiting

  .addon--status-public
    color $color--status-public
