@import '../lib'


.addon-dashboard
  .page--main
    background $color--white
    border-radius 5px
    padding $layout--island-padding

.addon-dashboard--empty
  .page--main
    max-width 500px
    text-align center

  .page--header h1
    max-width 500px

  p
    font-size 18px
    font-weight 300
    margin-top 0

  a
    display inline-block
    margin 0 10px
