@import '../lib'


.landing
  display flex
  justify-content center

  .page--main
    align-items center
    display flex
    flex-wrap wrap
    flex-direction column
    justify-content space-between
    margin-top 20px
    max-width $layout--page-landing
    text-align center

    +media--desktop()
      align-items flex-start
      flex-direction row
      margin 0


.landing--header
  margin-bottom 40px
  width 100%

  h1
    font-size 36px
    font-weight 400
    margin 0

  h2
    font-size 30px
    margin 12px 0 18px

  p
    font-size 24px
    margin 0


.landing--content
  background $color--white
  border-radius 5px
  margin-bottom 20px
  padding 25px
  width: 100%

  +media--desktop()
    margin 0
    width 47.5%

  section
    border-bottom 1px solid $color--grey
    margin-bottom 25px
    padding-bottom 25px

    &:last-child
      border-bottom 0
      margin-bottom 0
      padding-bottom 0

  p
    font-size 18px
    line-height 24px

  button
    display block
    width 100%

  a
    display block

.landing--submit
  p
    margin-top 0


.landing--community
  p
    margin 0

  li
    margin-top 5px
