@import '../lib'

.tos
  background $color--white
  height $layout--page-small
  position relative

  iframe
    border 0
    height 100%
    relative top 0 left 0
    width 100%


.tos--loading
  font-size 13px
  line-height 17px
  padding 20px


.tos--sign-agreement
  nav
    ul
      display flex
      justify-content flex-start
      margin 0
      padding 0
    li
      font-size 13px
      margin-right 10px
      &:last-child
        margin-right 0

  .sign
    align-items center
    display flex
    margin-top 15px
    justify-content space-between
