// Base palette.
$color--black = #1A1A1A;
$color--grey-dark = #797979;
$color--grey = #CBCBCB;
$color--grey-light = #F1F1F1;
$color--white = #FFF;

$color--blue = #0092FF;
$color--blue-dark = #006DBD;
$color--blue-light = #40ADFF;

$color--red = #CC0000;
$color--red-dark = #8C0000;
$color--red-light = #CC3333;

$color--green = #009900;
$color--green-dark= #005900;
$color--green-light= #4D994D;

$color--orange = #CC440D;

$color--yellow = #FFB300;

// Semantic palette.
$color--assertive = $color--red;
$color--assertive-hover = $color--red-light;
$color--border = $color--grey-light;
$color--border-dark = $color--grey;
$color--primary = $color--blue;
$color--primary-hover = $color--blue-light;
$color--universal = $color--blue-light;
$color--success = $color--green;
$color--success-hover= $color--green-light;
$color--highlight= $color--orange;

$color--body-text = $color--black;
$color--link = $color--primary;
$color--disabled= $color--grey;
$color--error = $color--assertive
$color--help-text = $color--grey-dark

$color--status-netural = $color--grey-dark
$color--status-okay = $color--green
$color--status-public = $color--green
$color--status-waiting = $color--yellow
$color--status-problem = $color--red
