$layout--island-padding = 25px
$layout--list-padding = $layout--island-padding

$layout--page-small = 480px
$layout--page-landing = 600px
$layout--page-medium = 800px
$layout--page-large = 1024px


media--desktop() {
    @media (min-width: 768px) {
        {block}
    }
}
