$layout--island-padding = 25px
$layout--island-padding--mobile = 15px
$layout--list-padding = $layout--island-padding
$layout--list-padding--mobile = $layout--island-padding--mobile

$layout--page-small = 480px
$layout--page-landing = 600px
$layout--page-medium = 800px
$layout--page-large = 1024px


media--desktop() {
    @media (min-width: $layout--page-medium) {
        {block}
    }
}
