@import '../lib';


.submission
  > h1
    margin-bottom 40px

.submission--url-success
  color $color--success

.submission--metadata
  display flex
  flex-wrap nowrap

  form
    width unquote('calc(100% - 360px)')

    > p:first-child
      margin 0 0 30px

.site--screenshot
  border 1px solid $color--highlight
  height 480px
  margin-left 30px
  width 320px

.submission .region-select
  margin 10px 0
  width unquote('calc(70% + 30px)')
