@import '../lib';


.submission-landing--nav,
.review-landing--nav,
  display flex
  flex-wrap wrap
  flex-direction column
  padding 0

  a
    border 1px solid $color--link
    border-radius 5px
    display inline-block
    margin 10px 0
    padding 10px
    text-decoration none
    width 320px

    &:hover
      background $color--blue-light
      color $color--white;
