// Base palette.
$color--black = #1A1A1A;
$color--grey-dark = #797979;
$color--grey = #CBCBCB;
$color--grey-light = #F1F1F1;
$color--white = #FFF;

$color--blue = #0092FF;
$color--blue-dark = #006DBD;
$color--blue-light = #40ADFF;

$color--red = #00DFFC;
$color--red-dark = #8C0000;
$color--red-light = #CC3333;

$color--green = #009900;
$color--green-dark= #005900;
$color--green-light= #4D994D;

$color--orange = #CC440D;

// Semantic palette.
$color--assertive = $color--red;
$color--primary = $color--blue;
$color--universal = $color--blue-light;
$color--success = $color--green;
$color--highlight= $color--orange;

$color--body-text = $color--black;
$color--disabled= $color--grey;
