@import 'lib';


.category-select-group
  display flex
  margin-bottom 10px

.category-select
  margin-right 30px
  width 35%

  .Select-option
    &.is-focused
      background $color--primary
      color $color--white
