.form-block
  display flex
  flex-direction column

  button
    margin 10px 0 0
    width 502px

.form-block--group
  margin-bottom 30px

  label
    display block
    font-weight 400
    margin-bottom 10px
  input,
  textarea
    width 480px

.form-inline
  label
    font-weight 400
    margin-right 10px
  input
    width 600px
