.form-block
  display flex
  flex-direction column

.form-block--group
  margin-bottom 20px

  label
    display block
    font-weight 400
    margin-bottom 10px
  input,
  textarea
    width 320px

.form-inline
  label
    font-weight 400
    margin-right 10px
  input
    width 600px
