@import 'lib';


header
  align-items center
  background $color--white
  border-bottom $color--grey solid 1px
  display flex
  height 60px
  padding 0 10px
  justify-content space-between

  h1
    text-align: center;

.header--login
  align-items center
  display flex
  flex-wrap nowrap
