@import 'lib';


@font-face
  src local('FiraSansOTLight'),
      local('FiraSansLight'),
      local('Fira Sans OT Light'),
      local('Fira Sans Light'),
      url('../fonts/FiraSans/firasansot-light-webfont.woff') format('woff'),
      url('../fonts/FiraSans/firasansot-light-webfont.ttf') format('truetype'),
      url('../fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight') format('svg')
  font-family FiraSansWeb
  font-weight 300

@font-face
    src local('FiraSansOT'),
        local('FiraSans'),
        local('Fira Sans OT'),
        local('Fira Sans'),
        url('../fonts/FiraSans/firasansot-regular-webfont.woff') format('woff'),
        url('../fonts/FiraSans/firasansot-regular-webfont.ttf') format('truetype'),
        url('../fonts/FiraSans/firasansot-regular-webfont.svg#fira_sans_otregular') format('svg')
    font-family FiraSansWeb
    font-weight 400

@font-face
    src local('FiraSansOTMedium'),
        local('FiraSansMedium'),
        local('Fira Sans OT Medium'),
        local('Fira Sans Medium'),
        url('../fonts/FiraSans/firasansot-medium-webfont.woff') format('woff'),
        url('../fonts/FiraSans/firasansot-medium-webfont.ttf') format('truetype'),
        url('../fonts/FiraSans/firasansot-medium-webfont.svg#fira_sans_otregular') format('svg')
    font-family FiraSansWeb
    font-weight 500

@font-face
    /* Yes, the PostScript name contains a hyphen. Not a typo. */
    src local('FiraSansOT-Bold'),
        local('FiraSans-Bold'),
        local('Fira Sans OT Bold'),
        local('Fira Sans Bold'),
        url('../fonts/FiraSans/firasansot-bold-webfont.woff') format('woff'),
        url('../fonts/FiraSans/firasansot-bold-webfont.ttf') format('truetype'),
        url('../fonts/FiraSans/firasansot-bold-webfont.svg#fira_sans_otbold') format('svg')
    font-family FiraSansWeb
    font-weight 600

body,
button
  font-family $font--primary
  font-size 15px
  font-weight 300

body
  color $color--body-text

button
  color $color--white

h1, h2, h3, h4, h5, h6
  font-weight 300

p
  line-height 22px
