@import '../lib';


.submission--metadata
  display flex
  flex-wrap nowrap

  form
    margin-top 10px
    width unquote('calc(100% - 360px)')

.submission--screenshot
  border 1px solid $color--highlight
  height auto
  width 320px
