@import 'lib';


.category-select-group
  display flex
  flex-wrap wrap
  margin-bottom 10px

.category-select-group-required-msg
  color $color--assertive
  font-weight 500
  margin-top 0
  width 100%

.category-select--required .Select-control
  border-color $color--assertive

.category-select
  margin-right 30px
  width 35%
