@import 'lib';


.comm-note-listing
  display flex
  flex-direction column

.comm-note
  display flex
  padding 15px 0

  img
    height 64px
    margin-right 15px
    width 64px

  > div
    display flex
    flex-direction column

  &:not(:last-child)
    border-bottom 1px solid $color--border


.comm-note-obj-meta
  margin 0 0 2px


.comm-note-body
  font-size 14px
  margin-top 10px

  > :first-child
    margin-top 0

  > :last-child
    margin-bottom 0


.comm-note--metadata
  font-size 13px
  font-weight 400


.comm-note--date
  color $color--grey-dark
  display block
  font-size 12px
  font-weight 300


.comm-note--submit
  +media--desktop()
    padding 15px 0

  textarea
    display block
    margin-bottom 10px
    width 75%


.comm-note--neutral
  color $color--grey-dark
.comm-note--okay
  color $color--green
.comm-note--problem
  color $color--red
.comm-note--waiting
  color $color--yellow


.comm-note-form
  display flex
  flex-wrap wrap

  textarea
    width 100%


.comm-internal-reviewer-option
  position relative
  top 10px

  +media--desktop()
    margin-left 20px
