@import 'lib';


.comm-note-listing
  display flex
  flex-direction column

.comm-note
  background $color--white
  border 1px solid $color--grey
  border-radius 2px
  margin 10px 0
  padding 10px

.comm-note-metadata
  display flex

  span
    display inline-block
    padding-right 10px

.comm-note-type
  font-weight 500
