@import 'lib';


footer
  align-items center
  background $color--white
  color $color--grey-dark
  display none
  font-size 14px
  justify-content center
  padding 20px
  width 100%

  +media--desktop()
    display flex

  p
    background url('../img/footzilla.svg') no-repeat left
    background-size 115px 31px
    margin-right 25px
    max-width 850px
    padding-left 135px

  nav
    width 175px

  li
    margin-top 3px

    &:first-child
      margin-top 0
