@import 'lib';

$field--label-width = 125px;
$field--label-margin = 15px;


input:not([type]),
input[type="text"],
input[type="search"],
textarea
  border 1px solid $color--grey
  border-radius 5px
  font-family $font--primary
  font-size 14px
  padding 10px
  width 450px


textarea
  height 200px


.form-block
  display flex
  flex-direction column

  button
    margin 10px 0 0
    width 502px


.form-block--group
  margin-bottom 30px

  label
    display block
    font-weight 400
    margin-bottom 10px
  input:not([type="radio"]),
  textarea
    width 480px


.form-block--radio > label
  display inline-block
  font-weight 300
  margin-bottom 0
  padding: 5px 50px 5px 10px


.form-inline
  label
    font-weight 400
    margin-right 10px
  input
    margin-right 10px
    width 600px

.form-msg--success p
  margin-top 0


.Select .Select-option.is-focused
  background $color--primary
  color $color--white


.form-inline--file-input
  background $color--primary
  border-radius 5px
  color $color--white
  cursor pointer
  margin-right 10px
  padding 10px 15px
  transition background .2s

  &:hover
    background $color--primary-hover


.field
  align-items flex-start
  display flex
  flex-wrap wrap
  margin-bottom 20px

  label
    display inline-block
    font-size 14px
    margin-right 15px
    padding 11px 0
    text-align right
    width $field--label-width

  textarea
    font-family $font--primary
    font-size 14px
    height 200px
    width 450px

  &:last-child
    margin-bottom 0


.field--buttons
  padding-left $field--label-width + $field--label-margin


.form-msg
  font-size 13px
  font-weight 300
  line-height 17px
  margin 10px 0 0
  padding-left $field--label-width + $field--label-margin
  width 100%

  > :first-child
    margin-top 0

  > :last-child
    margin-bottom 0

  p
    margin 5px 0

  ul
    list-style disc inside
    margin 5px 0 5px 10px


.form-msg--help
  color $color--help-text


.form-msg--error
.field--error label
  color $color--error


.form-msg--error a
.form-msg--error a:hover
  color $color--error
  font-weight 400
