@import 'lib';


.form-block
  display flex
  flex-direction column

  button
    margin 10px 0 0
    width 502px

.form-block--group
  margin-bottom 30px

  label
    display block
    font-weight 400
    margin-bottom 10px
  input:not([type="radio"]),
  textarea
    width 480px
  input[type="radio"] + label
    display inline-block
    font-weight 300
    margin-bottom 0
    padding: 10px 50px 10px 10px

.form-inline
  label
    font-weight 400
    margin-right 10px
  input
    margin-right 10px
    width 600px

.form-msg--error
  color $color--assertive;
