@import 'lib';


.header
  align-items center
  background $color--white
  border-bottom $color--grey solid 1px
  display flex
  height 60px
  padding 0 60px
  justify-content space-between

  h1 a
    color $color--highlight
    font-size 24px
    text-decoration none
    
    &:hover
      color $color--highlight
      text-decoration underline

  nav
    list-style none

    a
      margin 0 10px
      padding 10px
      text-decoration none

      &.active
        border 1px solid $color--primary
        border-radius 5px

.header--login
  align-items center
  display flex
  flex-wrap nowrap

  button
    background $color--white
    border-radius 5px
    border 2px solid $color--universal
    color $color--universal
    height 40px
    margin 0 10px
    padding 0 10px

    &:hover
      background $color--universal
      color $color--white
