.pageheader
  align-items flex-end
  border-bottom 1px solid #DDD
  display flex
  justify-content space-between
  
  h1
    font-size 28px
    font-weight 400
    margin 0


.subnav
  ul
    align-items flex-end
    display flex
    justify-content flex-end
    margin 0
    padding 0

  li
    margin 0 0 5px 15px

    &:first-child
      margin-left 0

  a
    border-bottom 3px solid #DDD
    color #777
    padding-bottom 3px
    text-decoration none

    &.active
      border-bottom-color #0092FF
      color #333
