@import 'lib';

$page--spacing = 35px


.page
  padding $page--spacing


.page--main
  margin 0 auto
  max-width $layout--page-large


.page--header
  align-items flex-end
  justify-content space-between

  h1
    font-size 28px
    font-weight 300
    margin 0 auto 15px
    max-width $layout--page-large


.page--subnav
  background $color--blue-dark
  display flex
  font-weight 300
  justify-content center
  margin (-1 * $page--spacing) (-1 * $page--spacing) $page--spacing

  +media--desktop()
    height 50px

  ul
    align-items center
    display flex
    flex-direction column
    justify-content center
    margin 0
    padding 0
    width 100%

    +media--desktop()
      flex-direction row
      width auto

  li
    display flex
    justify-content center
    margin 0 10px
    width 100%

    +media--desktop()
      width auto

  a
    color $color--white
    font-size 13px
    padding 10px 15px
    text-decoration none
    transition background-color 0.05s linear, color 0.05s linear
    width 100%

    +media--desktop()
      border-radius 5px
      padding 8px 8px 6px
      width auto

      &.active.active
        background $color--white
        color $color--blue-dark

    &.active
      background alpha($color--white, 0.15)
      color $color--white

    &:hover
      background alpha($color--white, 0.15)
      color $color--white


.page-section
  margin-bottom $page--spacing

  &:last-child
    margin-bottom 0


.page-section--header
  h3
    font-size 20px
    margin 0 0 10px


.page-section--main
  background $color--white
  border-radius 5px
  padding $layout--island-padding


.page--breadcrumb
  font-size 13px
  margin 0 auto 5px
  max-width $layout--page-large
