@import 'lib';


.progress-bar
  display flex
  flex-direction column

.progress-bar-bar
  border 1px solid $color--grey
  border-radius 20px
  display block
  height 40px
  overflow hidden
  width 320px

.progress-bar-fill
  background linear-gradient(to right, $color--blue, $color--blue-light)
  height 100%
