@import '../lib'


.addon-for-listing
  align-items flex-start
  border-bottom 1px solid $color--border
  display flex
  flex-wrap wrap
  margin 0
  padding $layout--list-padding--mobile 0

  +media--desktop()
    flex-wrap nowrap
    padding $layout--list-padding 0

  &:first-child
    padding-top 0

  &:last-child
    border none
    padding-bottom 0

  h2
    font-size 20px
    font-weight 300
    margin 0 0 5px
    width 100%

  di
  li
    font-size 13px
    font-weight 300
    margin-top 3px


.addon-for-listing-metadata
  flex 1 1 100%
  margin-top 15px

  +media--desktop()
    flex 1 1 0%
    margin 0

  di
    display flex

  dt
    font-weight 500
    &:after
      content ':\a0'

  dd
    margin 0

  .addon--status-obsolete dd
    color $color--status-netural

  .addon--status-incomplete dd
  .addon--status-rejected dd
    color $color--status-problem

  .addon--status-pending dd
    color $color--status-waiting

  .addon--status-public dd
    color $color--status-public


.addon-for-listing-links
  text-align right
  width 100%

  +media--desktop()
    width 25%

  li
    margin 2px 0

  a
    padding 10px 0
