@import '../lib';


.progress-bar
  display flex
  flex-direction column
  margin-left 15px

.progress-bar-bar
  border 1px solid $color--blue
  border-radius 5px
  display block
  height 20px
  overflow hidden
  width 320px

.progress-bar-fill
  background $color--primary
  height 100%

.progress-bar-text
  color $color--help-text
  font-size 12px
  margin-top 3px
