@import '../lib';


.review-actions
  display inline-flex
  position relative

  div:first-child
    margin-right 10px


.review-actions-textarea
  position relative

  &:after
    border-bottom 8px solid transparent
    border-right 10px solid rgba($color--highlight, .8)
    border-top 8px solid transparent
    content ''
    display block
    height 0
    position absolute
    right -10px
    top -25px
    width 0

  textarea
    box-shadow 0 0 1px 0 $color--highlight
    position absolute
    top -37px
    right -247px
    width 240px


.review-actions-reject button
  background $color--assertive


.review-actions-publish button
  background $color--success
