@import '../lib';

$version--col-width = 19%


.version
  background background $color--grey-light
  padding 10px


.version--collapsed
  background transparent

  &:hover
    background alpha($color--grey-light, .3)
    transition background-color 0.05s linear

  .version--body
    display none


.version--header
  align-items center
  cursor pointer
  display flex
  flex-wrap wrap
  justify-content space-between
  padding 5px 0

  +media--desktop()
    flex-wrap nowrap

  h3
  span
    font-size 14px

  h3
    color $color--link
    font-weight 400
    margin 0
    text-decoration underline

    +media--desktop()
      width $version--col-width


.version--header--date
.version--header--status
  +media--desktop()
    width $version--col-width


.version--header--buttons
  display flex
  justify-content center
  margin-top 20px
  text-align right
  width 100%

  +media--desktop()
    display block
    margin 0
    width 100 - (3 * $version--col-width)

  button
  .button
    margin-left 10px

    &:first-child
      margin-left 0


.version-download-button
  margin 0 10px


.version-notes
  +media--desktop()
    margin-left $version--col-width

  h4
    font-weight 400
    margin 5px 0 0
    text-decoration underline


.version--status-obsolete
  color $color--status-netural

.version--status-blocked
.version--status-incomplete
.version--status-rejected
  color $color--status-problem

.version--status-pending
  color $color--status-waiting

.version--status-public
  color $color--status-public


.version-listing-helptext
  padding 25px 25px 0
